/*------------------------------------*\
    $COMPONENT-FOOTBAR
\*------------------------------------*/
/**
 * Footbar
 * A section at the bottom of the page that replaces the footer similar to a navbar
 */
.footbar {
  background-color: #cfdadd;
  color: #a9bac1;
  padding: 36px;
}
.footbar a {
  color: #8d9ea6;
}
.footbar a:hover {
  color: #21b5e4;
}
/**
 * Footbar Brand
 * Just like with the navbar we may want to include a brad in the footer
 */
.footbar-brand {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 20px;
  line-height: 1.25em;
  margin-bottom: 24px;
}
.footbar-brand .brand {
  color: #8d9ea6;
}
.footbar-brand .brand:hover {
  color: #21b5e4;
}
@media (min-width: 45em) {
  .footbar-brand {
    margin-bottom: 0px;
  }
}
/**
 * Footbar Nav
 * sometimes footers need additional textual navigation links
 */
/**
 * Footbar Icons
 * Common to see icons in footes IE Social icons, Logos, Compliance
 */
.footbar-icons > li {
  padding: 0;
  margin: 0px 0px 24px;
}
.footbar-icons > li:first-child {
  margin: 0;
}
@media (min-width: 45em) {
  .footbar-icons > li {
    margin-left: 12px;
  }
}
.footbar-icons .icon {
  font-size: 20px;
  font-size: 1.25em;
}
/**
 * Footbar Copyright
 * Common place to place copyright information is in the footer
 */
.footbar-copyright {
  margin-bottom: 24px;
}
@media (min-width: 45em) {
  .footbar-copyright {
    margin-bottom: 0px;
  }
}
