// /*------------------------------------*\
//     $ELEMENT-ICONS
// \*------------------------------------*/



.icon {
    font-family: @icon-font;
    font-style: inherit;
    font-weight: inherit;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    // Better Font Rendering \\
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    display: inline-block;
    margin: 0 1px;
    position: relative;
    top: 1px;
        
    speak: none;
}

.octicons:extend(.icon) { font-family: 'octicons'; }

// Github Octicons
.octicons-pencil:before                         { content: "\f058"; }
.octicons-quote:before                          { content: "\f063"; }
.octicons-remove-close:before                   { content: "\f050"; }
.octicons-info:before                           { content: "\f059"; }
.octicons-issue-opened:before                   { content: "\f026"; }
.octicons-alert:before                          { content: "\f02d"; }
.octicons-zap:before                            { content: "\26a1"; }
.octicons-stop:before                           { content: "\f08f"; }
.octicons-sync:before                           { content: "\f087"; }
.octicons-tag:before                            { content: "\f015"; }
.octicons-tag-add:before                        { content: "\f054"; }
.octicons-tag-remove:before                     { content: "\f055"; }
.octicons-telescope:before                      { content: "\f088"; }
.octicons-three-bars:before                     { content: "\f05e"; }
.octicons-tools:before                          { content: "\f031"; }
.octicons-triangle-left:before                  { content: "\f044"; }
.octicons-triangle-down:before                  { content: "\f05b"; }
.octicons-triangle-right:before                 { content: "\f05a"; }
.octicons-triangle-up:before                    { content: "\f0aa"; }
.octicons-unfold:before                         { content: "\f039"; }
.octicons-unmute:before                         { content: "\f0ba"; }
.octicons-unmute-video:before                   { content: "\f0b9"; }
.octicons-versions:before                       { content: "\f064"; }
.octicons-x:before                              { content: "\f081"; }
.octicons-star-delete:before                    { content: "\f083"; }
.octicons-repo-delete:before                    { content: "\f004"; }
.octicons-playback-fast-forward:before          { content: "\f0bd"; }
.octicons-mirror-private:before                 { content: "\f025"; }
.octicons-list-ordered:before                   { content: "\f062"; }
.octicons-bug:before                            { content: "\f091"; }
.octicons-comment-discussion:before             { content: "\f04f"; }
.octicons-eye-watch:before                      { content: "\f01d"; }
.octicons-gist-new:before                       { content: "\f07a"; }
.octicons-horizontal-rule:before                { content: "\f070"; }
.octicons-home:before                           { content: "\f08d"; }
.octicons-gist-fork:before                      { content: "\f079"; }
.octicons-eye-unwatch:before                    { content: "\f01e"; }
.octicons-comment-add:before                    { content: "\f06f"; }
.octicons-broadcast:before                      { content: "\f048"; }
.octicons-bookmark:before                       { content: "\f07b"; }
.octicons-comment:before                        { content: "\f02b"; }
.octicons-eye:before                            { content: "\f04e"; }
.octicons-gist:before                           { content: "\f00e"; }
.octicons-history:before                        { content: "\f07e"; }
.octicons-link:before                           { content: "\f05c"; }
.octicons-link-external:before                  { content: "\f07f"; }
.octicons-milestone:before                      { content: "\f075"; }
.octicons-microscope:before                     { content: "\f089"; }
.octicons-person-remove:before                  { content: "\f01b"; }
.octicons-pin:before                            { content: "\f041"; }
.octicons-repo-create:before                    { content: "\f003"; }
.octicons-repo-clone:before                     { content: "\f04c"; }
.octicons-star:before                           { content: "\f02a"; }
.octicons-star-add:before                       { content: "\f082"; }
.octicons-squirrel:before                       { content: "\f0b2"; }
.octicons-repo:before                           { content: "\f001"; }
.octicons-person-follow:before                  { content: "\f01c"; }
.octicons-mention:before                        { content: "\f0be"; }
.octicons-light-bulb:before                     { content: "\f000"; }
.octicons-heart:before                          { content: "\2665"; }
.octicons-gift:before                           { content: "\f042"; }
.octicons-ellipsis:before                       { content: "\f09a"; }
.octicons-color-mode:before                     { content: "\f065"; }
.octicons-book:before                           { content: "\f007"; }
.octicons-beer:before                           { content: "\f069"; }
.octicons-code:before                           { content: "\f05f"; }
.octicons-diff-renamed:before                   { content: "\f06e"; }
.octicons-gear:before                           { content: "\f02f"; }
.octicons-graph:before                          { content: "\f043"; }
.octicons-keyboard:before                       { content: "\f00d"; }
.octicons-megaphone:before                      { content: "\f077"; }
.octicons-person-add:before                     { content: "\f01a"; }
.octicons-person:before                         { content: "\f018"; }
.octicons-radio-tower:before                    { content: "\f030"; }
.octicons-server:before                         { content: "\f097"; }
.octicons-settings:before                       { content: "\f07c"; }
.octicons-search:before                         { content: "\f02e"; }
.octicons-screen-normal:before                  { content: "\f067"; }
.octicons-question:before                       { content: "\f02c"; }
.octicons-organization:before                   { content: "\f037"; }
.octicons-octoface:before                       { content: "\f008"; }
.octicons-puzzle:before                         { content: "\f0c0"; }
.octicons-screen-full:before                    { content: "\f066"; }
.octicons-ruby:before                           { content: "\f047"; }
.octicons-pulse:before                          { content: "\f085"; }
.octicons-no-newline:before                     { content: "\f09c"; }
.octicons-mute-video:before                     { content: "\f0b8"; }
.octicons-primitive-square:before               { content: "\f053"; }
.octicons-rss:before                            { content: "\f034"; }
.octicons-rocket:before                         { content: "\f033"; }
.octicons-primitive-dot:before                  { content: "\f052"; }
.octicons-mute:before                           { content: "\f080"; }
.octicons-move-up:before                        { content: "\f0a7"; }
.octicons-podium:before                         { content: "\f0af"; }
.octicons-repo-sync:before                      { content: "\f04b"; }
.octicons-repo-push:before                      { content: "\f005"; }
.octicons-plus:before                           { content: "\f05d"; }
.octicons-move-right:before                     { content: "\f0a9"; }
.octicons-move-left:before                      { content: "\f074"; }
.octicons-playback-rewind:before                { content: "\f0bc"; }
.octicons-repo-pull:before                      { content: "\f006"; }
.octicons-repo-forked:before                    { content: "\f002"; }
.octicons-playback-play:before                  { content: "\f0bf"; }
.octicons-move-down:before                      { content: "\f0a8"; }
.octicons-playback-pause:before                 { content: "\f0bb"; }
.octicons-mirror-public:before                  { content: "\f024"; }
.octicons-repo-force-push:before                { content: "\f04a"; }
.octicons-list-unordered:before                 { content: "\f061"; }
.octicons-location:before                       { content: "\f060"; }
.octicons-lock:before                           { content: "\f06a"; }
.octicons-log-in:before                         { content: "\f036"; }
.octicons-log-out:before                        { content: "\f032"; }
.octicons-logo-github:before                    { content: "\f092"; }
.octicons-mail:before                           { content: "\f03b"; }
.octicons-mail-read:before                      { content: "\f03c"; }
.octicons-mail-reply:before                     { content: "\f051"; }
.octicons-mark-github:before                    { content: "\f00a"; }
.octicons-mark-twitter:before                   { content: "\f0ae"; }
.octicons-key:before                            { content: "\f049"; }
.octicons-jump-up:before                        { content: "\f073"; }
.octicons-jump-right:before                     { content: "\f0a6"; }
.octicons-jump-down:before                      { content: "\f072"; }
.octicons-jersey:before                         { content: "\f019"; }
.octicons-issue-reopened:before                 { content: "\f027"; }
.octicons-issue-closed:before                   { content: "\f028"; }
.octicons-hubot:before                          { content: "\f09d"; }
.octicons-hourglass:before                      { content: "\f09e"; }
.octicons-gist-private:before                   { content: "\f00f"; }
.octicons-gist-secret:before                    { content: "\f08c"; }
.octicons-git-branch:before                     { content: "\f020"; }
.octicons-git-branch-create:before              { content: "\f098"; }
.octicons-git-branch-delete:before              { content: "\f09b"; }
.octicons-git-commit:before                     { content: "\f01f"; }
.octicons-git-compare:before                    { content: "\f0ac"; }
.octicons-git-fork-private:before               { content: "\f021"; }
.octicons-git-merge:before                      { content: "\f023"; }
.octicons-jump-left:before                      { content: "\f0a5"; }
.octicons-git-pull-request:before               { content: "\f009"; }
.octicons-git-pull-request-abandoned:before     { content: "\f090"; }
.octicons-globe:before                          { content: "\f0b6"; }
.octicons-file-zip:before                       { content: "\f013"; }
.octicons-file-text:before                      { content: "\f011"; }
.octicons-file-submodule:before                 { content: "\f017"; }
.octicons-file-symlink-directory:before         { content: "\f0b1"; }
.octicons-file-symlink-file:before              { content: "\f0b0"; }
.octicons-file-pdf:before                       { content: "\f014"; }
.octicons-file-directory-create:before          { content: "\f095"; }
.octicons-file-directory:before                 { content: "\f016"; }
.octicons-file-code:before                      { content: "\f010"; }
.octicons-file-binary:before                    { content: "\f094"; }
.octicons-file-add:before                       { content: "\f086"; }
.octicons-credit-card:before                    { content: "\f045"; }
.octicons-dashboard:before                      { content: "\f07d"; }
.octicons-database:before                       { content: "\f096"; }
.octicons-device-camera:before                  { content: "\f056"; }
.octicons-device-camera-video:before            { content: "\f057"; }
.octicons-device-desktop:before                 { content: "\f27c"; }
.octicons-diff:before                           { content: "\f04d"; }
.octicons-diff-added:before                     { content: "\f06b"; }
.octicons-diff-ignored:before                   { content: "\f099"; }
.octicons-diff-modified:before                  { content: "\f06d"; }
.octicons-diff-removed:before                   { content: "\f06c"; }
.octicons-cloud-upload:before                   { content: "\f00c"; }
.octicons-cloud-download:before                 { content: "\f00b"; }
.octicons-arrow-small-up:before                 { content: "\f09f"; }
.octicons-arrow-up:before                       { content: "\f03d"; }
.octicons-arrow-small-right:before              { content: "\f071"; }
.octicons-clock:before                          { content: "\f046"; }
.octicons-clippy:before                         { content: "\f035"; }
.octicons-arrow-small-left:before               { content: "\f0a1"; }
.octicons-arrow-small-down:before               { content: "\f0a0"; }
.octicons-circle-slash:before                   { content: "\f084"; }
.octicons-chevron-up:before                     { content: "\f0a2"; }
.octicons-arrow-right:before                    { content: "\f03e"; }
.octicons-arrow-down:before                     { content: "\f03f"; }
.octicons-arrow-left:before                     { content: "\f040"; }
.octicons-chevron-right:before                  { content: "\f078"; }
.octicons-device-mobile:before                  { content: "\f038"; }
.octicons-chevron-left:before                   { content: "\f0a4"; }
.octicons-chevron-down:before                   { content: "\f0a3"; }
.octicons-alignment-unalign:before              { content: "\f08b"; }
.octicons-alignment-aligned-to:before           { content: "\f08e"; }
.octicons-checklist:before                      { content: "\f076"; }
.octicons-check:before                          { content: "\f03a"; }
.octicons-alignment-align:before                { content: "\f08a"; }
.octicons-calendar:before                       { content: "\f068"; }
.octicons-file-media:before                     { content: "\f012"; }


// Font-Awsome Icons
.icon-glass:before                              { content: "\1"; }
.icon-music:before                              { content: "\2"; }
.icon-search:before                             { content: "\3"; }
.icon-envelope:before                           { content: "\4"; }
.icon-heart:before                              { content: "\5"; }
.icon-star:before                               { content: "\6"; }
.icon-star-empty:before                         { content: "\7"; }
.icon-user:before                               { content: "\8"; }
.icon-film:before                               { content: "\9"; }
.icon-th-large:before                           { content: "\a"; }
.icon-th:before                                 { content: "\b"; }
.icon-th-list:before                            { content: "\c"; }
.icon-ok:before                                 { content: "\d"; }
.icon-remove:before                             { content: "\e"; }
.icon-zoom-in:before                            { content: "\f"; }
.icon-zoom-out:before                           { content: "\10"; }
.icon-off:before                                { content: "\11"; }
.icon-signal:before                             { content: "\12"; }
.icon-cog:before                                { content: "\13"; }
.icon-volume-up:before                          { content: "\14"; }
.icon-volume-down:before                        { content: "\15"; }
.icon-volume-off:before                         { content: "\16"; }
.icon-headphones:before                         { content: "\17"; }
.icon-flag:before                               { content: "\18"; }
.icon-lock:before                               { content: "\19"; }
.icon-list-alt:before                           { content: "\1a"; }
.icon-refresh:before                            { content: "\1b"; }
.icon-repeat:before                             { content: "\1c"; }
.icon-play-circle:before                        { content: "\1d"; }
.icon-inbox:before                              { content: "\1e"; }
.icon-upload:before                             { content: "\1f"; }
.icon-download:before                           { content: "\20"; }
.icon-download-alt:before                       { content: "\21"; }
.icon-road:before                               { content: "\22"; }
.icon-home:before                               { content: "\23"; }
.icon-trash:before                              { content: "\24"; }
.icon-file:before                               { content: "\25"; }
.icon-time:before                               { content: "\26"; }
.icon-qrcode:before                             { content: "\27"; }
.icon-barcode:before                            { content: "\28"; }
.icon-tag:before                                { content: "\29"; }
.icon-tags:before                               { content: "\2a"; }
.icon-book:before                               { content: "\2b"; }
.icon-bookmark:before                           { content: "\2c"; }
.icon-print:before                              { content: "\2d"; }
.icon-camera:before                             { content: "\2e"; }
.icon-font:before                               { content: "\2f"; }
.icon-bold:before                               { content: "\30"; }
.icon-italic:before                             { content: "\31"; }
.icon-text-height:before                        { content: "\32"; }
.icon-text-width:before                         { content: "\33"; }
.icon-align-left:before                         { content: "\34"; }
.icon-align-center:before                       { content: "\35"; }
.icon-align-right:before                        { content: "\36"; }
.icon-align-justify:before                      { content: "\37"; }
.icon-list:before                               { content: "\38"; }
.icon-indent-left:before                        { content: "\39"; }
.icon-fast-forward:before                       { content: "\3a"; }
.icon-forward:before                            { content: "\3b"; }
.icon-stop:before                               { content: "\3c"; }
.icon-pause:before                              { content: "\3d"; }
.icon-play:before                               { content: "\3e"; }
.icon-backward:before                           { content: "\3f"; }
.icon-fast-backward:before                      { content: "\40"; }
.icon-step-backward:before                      { content: "\41"; }
.icon-move:before                               { content: "\42"; }
.icon-check:before                              { content: "\43"; }
.icon-share:before                              { content: "\44"; }
.icon-edit:before                               { content: "\45"; }
.icon-tint:before                               { content: "\46"; }
.icon-adjust:before                             { content: "\47"; }
.icon-map-marker:before                         { content: "\48"; }
.icon-pencil:before                             { content: "\49"; }
.icon-picture:before                            { content: "\4a"; }
.icon-facetime-video:before                     { content: "\4b"; }
.icon-indent-right:before                       { content: "\4c"; }
.icon-step-forward:before                       { content: "\4d"; }
.icon-resize-full:before                        { content: "\4e"; }
.icon-retweet:before                            { content: "\4f"; }
.icon-pushpin:before                            { content: "\50"; }
.icon-bell:before                               { content: "\51"; }
.icon-beaker:before                             { content: "\52"; }
.icon-cut:before                                { content: "\53"; }
.icon-certificate:before                        { content: "\54"; }
.icon-external-link:before                      { content: "\55"; }
.icon-shopping-cart:before                      { content: "\56"; }
.icon-resize-small:before                       { content: "\57"; }
.icon-eject:before                              { content: "\58"; }
.icon-chevron-left:before                       { content: "\59"; }
.icon-plus:before                               { content: "\5a"; }
.icon-folder-close:before                       { content: "\5b"; }
.icon-signin:before                             { content: "\5c"; }
.icon-hand-right:before                         { content: "\5d"; }
.icon-copy:before                               { content: "\5e"; }
.icon-paper-clip:before                         { content: "\5f"; }
.icon-hand-left:before                          { content: "\60"; }
.icon-trophy:before                             { content: "\61"; }
.icon-folder-open:before                        { content: "\62"; }
.icon-minus:before                              { content: "\63"; }
.icon-chevron-right:before                      { content: "\64"; }
.icon-plus-sign:before                          { content: "\65"; }
.icon-asterisk:before                           { content: "\66"; }
.icon-exclamation-sign:before                   { content: "\67"; }
.icon-minus-sign:before                         { content: "\68"; }
.icon-remove-sign:before                        { content: "\69"; }
.icon-gift:before                               { content: "\6a"; }
.icon-leaf:before                               { content: "\6b"; }
.icon-ok-sign:before                            { content: "\6c"; }
.icon-question-sign:before                      { content: "\6d"; }
.icon-fire:before                               { content: "\6e"; }
.icon-eye-open:before                           { content: "\6f"; }
.icon-info-sign:before                          { content: "\70"; }
.icon-screenshot:before                         { content: "\71"; }
.icon-eye-close:before                          { content: "\72"; }
.icon-warning-sign:before                       { content: "\73"; }
.icon-remove-circle:before                      { content: "\74"; }
.icon-ok-circle:before                          { content: "\75"; }
.icon-plane:before                              { content: "\76"; }
.icon-random:before                             { content: "\77"; }
.icon-ban-circle:before                         { content: "\78"; }
.icon-calendar:before                           { content: "\79"; }
.icon-arrow-left:before                         { content: "\7a"; }
.icon-arrow-right:before                        { content: "\7b"; }
.icon-comment:before                            { content: "\7c"; }
.icon-magnet:before                             { content: "\7d"; }
.icon-arrow-up:before                           { content: "\7e"; }
.icon-arrow-down:before                         { content: "\7f"; }
.icon-chevron-up:before                         { content: "\80"; }
.icon-chevron-down:before                       { content: "\81"; }
.icon-share-alt:before                          { content: "\82"; }
.icon-linkedin-sign:before                      { content: "\83"; }
.icon-signout:before                            { content: "\84"; }
.icon-heart-empty:before                        { content: "\85"; }
.icon-star-half:before                          { content: "\86"; }
.icon-thumbs-down:before                        { content: "\87"; }
.icon-thumbs-up:before                          { content: "\88"; }
.icon-comments:before                           { content: "\89"; }
.icon-cogs:before                               { content: "\8a"; }
.icon-key:before                                { content: "\8b"; }
.icon-camera-retro:before                       { content: "\8c"; }
.icon-facebook-sign:before                      { content: "\8d"; }
.icon-twitter-sign:before                       { content: "\8e"; }
.icon-bar-chart:before                          { content: "\8f"; }
.icon-resize-horizontal:before                  { content: "\90"; }
.icon-resize-vertical:before                    { content: "\91"; }
.icon-github-sign:before                        { content: "\92"; }
.icon-upload-alt:before                         { content: "\93"; }
.icon-lemon:before                              { content: "\94"; }
.icon-phone:before                              { content: "\95"; }
.icon-bookmark-empty:before                     { content: "\96"; }
.icon-phone-sign:before                         { content: "\97"; }
.icon-facebook:before                           { content: "\98"; }
.icon-unlock:before                             { content: "\99"; }
.icon-rss:before                                { content: "\9a"; }
.icon-hdd:before                                { content: "\9b"; }
.icon-bullhorn:before                           { content: "\9c"; }
.icon-cloud:before                              { content: "\9d"; }
.icon-money:before                              { content: "\9e"; }
.icon-google-plus:before                        { content: "\9f"; }
.icon-link:before                               { content: "\a0"; }
.icon-group:before                              { content: "\a1"; }
.icon-google-plus-sign:before                   { content: "\a2"; }
.icon-pinterest-sign:before                     { content: "\a3"; }
.icon-fullscreen:before                         { content: "\a4"; }
.icon-credit:before                             { content: "\a5"; }
.icon-briefcase:before                          { content: "\a6"; }
.icon-pinterest:before                          { content: "\a7"; }
.icon-truck:before                              { content: "\a8"; }
.icon-filter:before                             { content: "\a9"; }
.icon-github:before                             { content: "\aa"; }
.icon-tasks:before                              { content: "\ab"; }
.icon-magic:before                              { content: "\ac"; }
.icon-table:before                              { content: "\ad"; }
.icon-wrench:before                             { content: "\ae"; }
.icon-twitter:before                            { content: "\af"; }
.icon-underline:before                          { content: "\b0"; }
.icon-globe:before                              { content: "\b1"; }
.icon-circle-arrow-down:before                  { content: "\b2"; }
.icon-strikethrough:before                      { content: "\b3"; }
.icon-list-ol:before                            { content: "\b4"; }
.icon-circle-arrow-up:before                    { content: "\b5"; }
.icon-circle-arrow-right:before                 { content: "\b6"; }
.icon-reorder:before                            { content: "\b7"; }
.icon-save:before                               { content: "\b8"; }
.icon-sign-blank:before                         { content: "\b9"; }
.icon-hand-down:before                          { content: "\ba"; }
.icon-hand-up:before                            { content: "\bb"; }
.icon-circle-arrow-left:before                  { content: "\bc"; }
.icon-check-empty:before                        { content: "\bd"; }
.icon-list-ul:before                            { content: "\be"; }
.icon-caret-down:before                         { content: "\bf"; }
.icon-caret-up:before                           { content: "\c0"; }
.icon-caret-left:before                         { content: "\c1"; }
.icon-caret-right:before                        { content: "\c2"; }
.icon-columns:before                            { content: "\c3"; }
.icon-sort:before                               { content: "\c4"; }
.icon-sort-down:before                          { content: "\c5"; }
.icon-sort-up:before                            { content: "\c6"; }
.icon-envelope-alt:before                       { content: "\c7"; }
.icon-linkedin:before                           { content: "\c8"; }
.icon-undo:before                               { content: "\c9"; }
.icon-legal:before                              { content: "\ca"; }
.icon-dashboard:before                          { content: "\cb"; }
.icon-comment-alt:before                        { content: "\cc"; }
.icon-comments-alt:before                       { content: "\cd"; }
.icon-bolt:before                               { content: "\ce"; }
.icon-sitemap:before                            { content: "\cf"; }
.icon-umbrella:before                           { content: "\d0"; }
.icon-paste:before                              { content: "\d1"; }
.icon-plus-sign2:before                         { content: "\d2"; }
.icon-h-sign:before                             { content: "\d3"; }
.icon-beer:before                               { content: "\d4"; }
.icon-fighter-jet:before                        { content: "\d5"; }
.icon-medkit:before                             { content: "\d6"; }
.icon-ambulance:before                          { content: "\d7"; }
.icon-hospital:before                           { content: "\d8"; }
.icon-building:before                           { content: "\d9"; }
.icon-food:before                               { content: "\da"; }
.icon-coffee:before                             { content: "\db"; }
.icon-bell-alt:before                           { content: "\dc"; }
.icon-suitcase:before                           { content: "\dd"; }
.icon-stethoscope:before                        { content: "\de"; }
.icon-user-md:before                            { content: "\df"; }
.icon-cloud-upload:before                       { content: "\e0"; }
.icon-exchange:before                           { content: "\e1"; }
.icon-lightbulb:before                          { content: "\e2"; }
.icon-cloud-download:before                     { content: "\e3"; }
.icon-file-alt:before                           { content: "\e4"; }
.icon-double-angle-left:before                  { content: "\e5"; }
.icon-double-angle-right:before                 { content: "\e6"; }
.icon-double-angle-up:before                    { content: "\e7"; }
.icon-double-angle-down:before                  { content: "\e8"; }
.icon-angle-left:before                         { content: "\e9"; }
.icon-angle-right:before                        { content: "\ea"; }
.icon-angle-up:before                           { content: "\eb"; }
.icon-angle-down:before                         { content: "\ec"; }
.icon-laptop:before                             { content: "\ed"; }
.icon-tablet:before                             { content: "\ee"; }
.icon-mobile:before                             { content: "\ef"; }
.icon-circle-blank:before                       { content: "\f0"; }
.icon-quote-left:before                         { content: "\f1"; }
.icon-quote-right:before                        { content: "\f2"; }
.icon-spinner:before                            { content: "\f3"; }
.icon-circle:before                             { content: "\f4"; }
.icon-reply:before                              { content: "\f5"; }
.icon-github-alt:before                         { content: "\f6"; }
.icon-desktop:before                            { content: "\f7"; }
.icon-folder-close-alt:before                   { content: "\f8"; }
.icon-folder-open-alt:before                    { content: "\f9"; }
.icon-frown:before                              { content: "\fa"; }
.icon-gamepad:before                            { content: "\fb"; }
.icon-keyboard:before                           { content: "\fc"; }
.icon-terminal:before                           { content: "\fd"; }
.icon-star-half-full:before                     { content: "\fe"; }
.icon-code-fork:before                          { content: "\ff"; }
.icon-unlink:before                             { content: "\100"; }
.icon-crop:before                               { content: "\101"; }
.icon-location-arrow:before                     { content: "\102"; }
.icon-code:before                               { content: "\103"; }
.icon-reply-all:before                          { content: "\104"; }
.icon-flag-alt:before                           { content: "\105"; }
.icon-flag-checkered:before                     { content: "\106"; }
.icon-meh:before                                { content: "\107"; }
.icon-expand-alt:before                         { content: "\108"; }
.icon-smile:before                              { content: "\109"; }
.icon-collapse-alt:before                       { content: "\10a"; }
.icon-renren:before                             { content: "\10b"; }
.icon-weibo:before                              { content: "\10c"; }
.icon-vk:before                                 { content: "\10d"; }
.icon-bug:before                                { content: "\10e"; }
.icon-archive:before                            { content: "\10f"; }
.icon-moon:before                               { content: "\110"; }
.icon-sun:before                                { content: "\111"; }
.icon-gittip:before                             { content: "\112"; }
.icon-male:before                               { content: "\113"; }
.icon-female:before                             { content: "\114"; }
.icon-trello:before                             { content: "\115"; }
.icon-foursquare:before                         { content: "\116"; }
.icon-skype:before                              { content: "\117"; }
.icon-dribbble:before                           { content: "\118"; }
.icon-linux:before                              { content: "\119"; }
.icon-android:before                            { content: "\11a"; }
.icon-windows:before                            { content: "\11b"; }
.icon-apple:before                              { content: "\11c"; }
.icon-thumbs-down2:before                       { content: "\11d"; }
.icon-collapse-top:before                       { content: "\11e"; }
.icon-info:before                               { content: "\11f"; }
.icon-anchor:before                             { content: "\120"; }
.icon-expand:before                             { content: "\121"; }
.icon-youtube-sign:before                       { content: "\122"; }
.icon-css3:before                               { content: "\123"; }
.icon-question:before                           { content: "\124"; }
.icon-exclamation:before                        { content: "\125"; }
.icon-unlock-alt:before                         { content: "\126"; }
.icon-euro:before                               { content: "\127"; }
.icon-youtube:before                            { content: "\128"; }
.icon-xing:before                               { content: "\129"; }
.icon-gbp:before                                { content: "\12a"; }
.icon-bullseye:before                           { content: "\12b"; }
.icon-superscript:before                        { content: "\12c"; }
.icon-subscript:before                          { content: "\12d"; }
.icon-ellipsis-horizontal:before                { content: "\12e"; }
.icon-eraser:before                             { content: "\12f"; }
.icon-ellipsis-vertical:before                  { content: "\130"; }
.icon-puzzle:before                             { content: "\131"; }
.icon-rss-sign:before                           { content: "\132"; }
.icon-microphone:before                         { content: "\133"; }
.icon-play-sign:before                          { content: "\134"; }
.icon-microphone-off:before                     { content: "\135"; }
.icon-ticket:before                             { content: "\136"; }
.icon-shield:before                             { content: "\137"; }
.icon-minus-sign-alt:before                     { content: "\138"; }
.icon-calendar-empty:before                     { content: "\139"; }
.icon-check-minus:before                        { content: "\13a"; }
.icon-fire-extinguisher:before                  { content: "\13b"; }
.icon-level-up:before                           { content: "\13c"; }
.icon-rocket:before                             { content: "\13d"; }
.icon-level-down:before                         { content: "\13e"; }
.icon-maxcdn:before                             { content: "\13f"; }
.icon-check-sign:before                         { content: "\140"; }
.icon-chevron-sign-left:before                  { content: "\141"; }
.icon-edit-sign:before                          { content: "\142"; }
.icon-chevron-sign-right:before                 { content: "\143"; }
.icon-external-link-sign:before                 { content: "\144"; }
.icon-chevron-sign-up:before                    { content: "\145"; }
.icon-share-sign:before                         { content: "\146"; }
.icon-chevron-sign-down:before                  { content: "\147"; }
.icon-compass:before                            { content: "\148"; }
.icon-html5:before                              { content: "\149"; }
.icon-collapse:before                           { content: "\14a"; }
.icon-thumbs-up2:before                         { content: "\14b"; }
.icon-long-arrow-right:before                   { content: "\14c"; }
.icon-long-arrow-left:before                    { content: "\14d"; }
.icon-sort-by-order-alt:before                  { content: "\14e"; }
.icon-sort-by-order:before                      { content: "\14f"; }
.icon-long-arrow-up:before                      { content: "\150"; }
.icon-long-arrow-down:before                    { content: "\151"; }
.icon-sort-by-attributes-alt:before             { content: "\152"; }
.icon-sort-by-attributes:before                 { content: "\153"; }
.icon-tumblr-sign:before                        { content: "\154"; }
.icon-tumblr:before                             { content: "\155"; }
.icon-sort-by-alphabet-alt:before               { content: "\156"; }
.icon-sort-by-alphabet:before                   { content: "\157"; }
.icon-bitbucket-sign:before                     { content: "\158"; }
.icon-bitbucket:before                          { content: "\159"; }
.icon-file-text:before                          { content: "\15a"; }
.icon-file2:before                              { content: "\15b"; }
.icon-adn:before                                { content: "\15c"; }
.icon-flickr:before                             { content: "\15d"; }
.icon-bitcoin:before                            { content: "\15e"; }
.icon-won:before                                { content: "\15f"; }
.icon-instagram:before                          { content: "\160"; }
.icon-stackexchange:before                      { content: "\161"; }
.icon-renminbi:before                           { content: "\162"; }
.icon-yen:before                                { content: "\163"; }
.icon-dropbox:before                            { content: "\164"; }
.icon-youtube-play:before                       { content: "\165"; }
.icon-rupee:before                              { content: "\166"; }
.icon-dollar:before                             { content: "\167"; }
.icon-xing-sign:before                          { content: "\168"; }
.icon-delicious:before                          { content: "\169"; }
.icon-github2:before                            { content: "\16a"; }
.icon-chrome:before                             { content: "\16b"; }
.icon-firefox:before                            { content: "\16c"; }
.icon-IE:before                                 { content: "\16d"; }
.icon-opera:before                              { content: "\16e"; }
.icon-safari:before                             { content: "\16f"; }
.icon-reddit:before                             { content: "\170"; }
.icon-paypal:before                             { content: "\171"; }
.icon-file-pdf:before                           { content: "\172"; }
.icon-file-openoffice:before                    { content: "\173"; }
.icon-file-word:before                          { content: "\174"; }
.icon-file-excel:before                         { content: "\175"; }
.icon-file-zip:before                           { content: "\176"; }
.icon-file-powerpoint:before                    { content: "\177"; }
.icon-file-xml:before                           { content: "\178"; }
.icon-file-css:before                           { content: "\179"; }
.icon-stumbleupon:before                        { content: "\17a"; }
.icon-deviantart:before                         { content: "\17b"; }
.icon-vimeo:before                              { content: "\17c"; }
.icon-wordpress:before                          { content: "\17d"; }
.icon-joomla:before                             { content: "\17e"; }
.icon-blogger:before                            { content: "\17f"; }
.icon-yahoo:before                              { content: "\180"; }
.icon-flickr2:before                            { content: "\181"; }
.icon-google-plus2:before                       { content: "\182"; }
