/*------------------------------------*\
    THEME.LESS
\*------------------------------------*/
// Contains all styles for the theme of the project outside the sugar3 framework...

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

@import "tools/defaults.less";
@import "vars.less";
@import "tools/mixins.less";


/*------------------------------------*\
    $USER STYLES
\*------------------------------------*/

/**
 * Features Section
 */
.features {
    .padding(@triple-spacing-unit, 0, @half-spacing-unit+@quarter-spacing-unit);
    @media only screen and (min-width: @screen-m-min) { .padding(@quadruple-spacing-unit, 0, @double-spacing-unit); }
}

/**
 * Layers Section
 */
 .layers .slide {
    height: auto;
    @media only screen and (min-width: @screen-m-min) { height: 768px; }
    .padding(@triple-spacing-unit, 0);
    
    .lead,
    .lead .alpha,
    .lead .beta,
    .lead .gamma, 
    .lead .delta,
    .lead .epsilon,
    .lead .zeta { color: @bluegray; }

    .media-heading { .margin-bottom(@half-spacing-unit+@quarter-spacing-unit); }
    .media-heading,
    .media-text { 
        color: @bluegray; 
        max-width: 220px;
    }
 }

.layer-global   { background: @silver-light url("../img/@2x/global-w-bg.jpg") no-repeat bottom left; }
.layer-core     { background: darken(@silver-light, 10%) url("../img/@2x/core-w-bg2.jpg") no-repeat bottom left; }
.layer-sugar    { background: @silver-light url("../img/@2x/sugar-w-bg2.jpg") no-repeat bottom left; }
.layer-theme    { background: darken(@silver-light, 10%) url("../img/@2x/theme-w-bg.jpg") no-repeat bottom left; }

.grid-preview    { background-color: @silver-light; }