//------------------------------------//
//  $VARS
//------------------------------------//
// Overide defaults.less

//------------------------------------//
//  $MODULES
//------------------------------------//

// Brand
@brand-color:                               @black;
@brand-font:                                "Hobo Std";
@brand-logo-font:                           'sugar';
@brand-logo-size:                           @gamma + 2;
@brand-logo-color:                          @white;
@brand-logo-bg:                             @gray;
@brand-logo-radius:                         50%;
@brand-logo-border-size:                    3;
@brand-logo-border-color:                   @gray-dark;

// Buttons
@button-default-bg:                         @base-link-color;
@button-default-color:                      @white;
@button-default-border:                     0;
@button-default-border-radius:              @base-radius-medium;

@button-clear-border:                       2px solid @base-link-color;

// Icons
@icon-font:                                 'font-awsome';
@icon-normal:                               16;
@icon-medium:                               18;
@icon-large:                                32;

// Nav
@nav-link-spacing:                          @base-spacing-unit;
@nav-link-hover-bg:                         @white;
@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

// Badges
// -------------------------
@badge-color:                               @white;
@badge-link-hover-color:                    @white;
@badge-bg:                                  @red;

@badge-font-weight:                         bold;
@badge-line-height:                         1;
@badge-border-radius:                       10px;


//------------------------------------//
//  $COMPONENTS
//------------------------------------//

// Media -- since media is a reserved word we substitute item in its place
@item-heading-color:                        @red;
@item-heading-size-small:                   @zeta;
@item-heading-size-medium:                  @epsilon;
@item-heading-size-large:                   @epsilon;
@item-heading-spacing:                      @quarter-spacing-unit;

@item-text-color:                           @bluegray;

@item-object-size:                          50;

// Navbar
@navbar-height:                             50;
@navbar-border-radius:                      @base-radius;

@navbar-color:                              @gray-darker;
@navbar-bg:                                 @white-dark;
@navbar-border:                             darken(@navbar-bg, 6.5%);

@navbar-link-color:                         @bluegray;
@navbar-link-hover-color:                   @base-link-color;
@navbar-link-hover-bg:                      transparent;
@navbar-link-active-color:                  @navbar-link-hover-color;
@navbar-link-active-bg:                     @navbar-link-hover-bg;
@navbar-link-disabled-color:                @bluegray-dark;
@navbar-link-disabled-bg:                   transparent;

@navbar-brand-color:                        @navy-dark; // mix(@base-link-color, @black, 20%);
@navbar-brand-hover-color:                  @base-link-color;
@navbar-brand-hover-bg:                     transparent;

@navbar-toggle-hover-bg:                    @white-darkest;
@navbar-toggle-icon-bar-bg:                 @gray-lighter;
@navbar-toggle-border-color:                @white-darkest;

// Footbar
@footbar-bg:                                darken(@silver-light, 10%);
@footbar-color:                             darken(@bluegray-light, 5%);
@footbar-link-color:                        @bluegray;
@footbar-link-hover-color:                  @base-link-color;

