/*------------------------------------*\
    THEME.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $USER STYLES
\*------------------------------------*/
/**
 * Features Section
 */
.features {
  padding: 72px 0px 18px;
  padding: 4.5rem 0rem 1.125rem;
}
@media only screen and (min-width: 768px) {
  .features {
    padding: 96px 0px 48px;
    padding: 6rem 0rem 3rem;
  }
}
/**
 * Layers Section
 */
.layers .slide {
  height: auto;
  padding: 72px 0px;
  padding: 4.5rem 0rem;
}
@media only screen and (min-width: 768px) {
  .layers .slide {
    height: 768px;
  }
}
.layers .slide .lead,
.layers .slide .lead .alpha,
.layers .slide .lead .beta,
.layers .slide .lead .gamma,
.layers .slide .lead .delta,
.layers .slide .lead .epsilon,
.layers .slide .lead .zeta {
  color: #8d9ea6;
}
.layers .slide .media-heading {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.layers .slide .media-heading,
.layers .slide .media-text {
  color: #8d9ea6;
  max-width: 220px;
}
.layer-global {
  background: #edf1f2 url("../img/@2x/global-w-bg.jpg") no-repeat bottom left;
}
.layer-core {
  background: #cfdadd url("../img/@2x/core-w-bg2.jpg") no-repeat bottom left;
}
.layer-sugar {
  background: #edf1f2 url("../img/@2x/sugar-w-bg.jpg") no-repeat bottom left;
}
.layer-theme {
  background-color: #cfdadd;
}
