/*------------------------------------*\
    THEME.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $USER STYLES
\*------------------------------------*/
/**
 * Features Section
 */
.features {
  padding: 72px 0px 48px;
  padding: 4.5rem 0rem 3rem;
}
@media only screen and (min-width: 768px) {
  .features {
    padding: 96px 0px 48px;
    padding: 6rem 0rem 3rem;
  }
}
/**
 * Layers Section
 */
.layer-global {
  background-color: #edf1f2;
  padding: 72px 0px 0px;
  padding: 4.5rem 0rem 0rem;
}
.layer-global .media-heading {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.layer-global .media-heading,
.layer-global .media-text {
  color: #8d9ea6;
  max-width: 220px;
}
.layer-core {
  background-color: #c8cbcc;
  padding: 72px 0px 0px;
  padding: 4.5rem 0rem 0rem;
}
.layer-core .media-heading {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.layer-core .media-heading,
.layer-core .media-text {
  color: #8d9ea6;
  max-width: 220px;
}
.layer-sugar {
  background-color: #9da3a6;
  padding: 72px 0px 0px;
  padding: 4.5rem 0rem 0rem;
}
.layer-sugar .media-heading {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.layer-sugar .media-heading,
.layer-sugar .media-text {
  color: #8d9ea6;
  max-width: 220px;
}
.layer-theme {
  background-color: #edf1f2;
  padding: 72px 0px 0px;
  padding: 4.5rem 0rem 0rem;
}
.layer-theme .media-heading {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.layer-theme .media-heading,
.layer-theme .media-text {
  color: #8d9ea6;
  max-width: 220px;
}
