//------------------------------------//
//  $DEFAULTS
//------------------------------------//
//  Redefine these in your own `vars.less` to override them.


//------------------------------------//
//  $COLORS
//------------------------------------//

// Blacks
@black-pure:                                #000;
@black-dark:                                lighten(#000, 10%); // #1a1a1a
@black:                                     lighten(#000, 20%); // #333333
@black-light:                               lighten(#000, 30%); // #4d4d4d

// Grays
@gray-darker:                               lighten(#000, 40%); // #666
@gray-dark:                                 lighten(#000, 50%); // #808
@gray:                                      lighten(#000, 60%); // #999
@gray-light:                                lighten(#000, 70%); // #b3b
@gray-lighter:                              lighten(#000, 80%); // #ccc

// Whites
@white-darkest:                             #ddd;
@white-darker:                              lighten(#000, 90%); // #e5e5e5
@white-dark:                                lighten(#000, 95%); // #f2f2f2
@white:                                     #fff;

// Accent colors
@blue-dark:                                 #217bb2;


// Swatches
@purple:                                    #9b59b6;
@purple-dark:                               #8e44ad; // mix(@purple, @black-pure, 85%);

@pink:                                      #e05281;
@pink-dark:                                 #db346b; // mix(@pink, @black-pure, 85%);

@darkblue:                                  #34495e;
@darkblue-dark:                             #2c3e50; // mix(@darkblue, @black-pure, 85%);

@blue-dark:                                 #2980b9; // mix(@blue, @black-pure, 85%);
@blue:                                      #3498db;
@blue-bright:                               #5fccff;

@teal-dark:                                 #16a085; // mix(@teal, @black-pure, 85%);
@teal:                                      #1abc9c;

@green-dark:                                #27ae60; // mix(@green, @black-pure, 85%);
@green:                                     #2ecc71;

@yellow-dark:                               #f39c12; 
@yellow:                                    #f1c40f;
@yellow-bright:                             #fff55b;

@orange-dark:                               #d35400; 
@orange:                                    #e67e22;

@red-dark:                                  #c0392b; 
@red:                                       #e74c3c;

@silver-dark:                               #bdc3c7; 
@silver:                                    #ecf0f1;
@silver-bright:                             #ebedee;

@bluegray-dark:                             #7f8c8d; // mix(@bluegray, @black-pure, 80%);
@bluegray:                                  #95a5a6;


// Social colors
@social-delicious:                          #3399ff;
@social-digg:                               #070707;
@social-evernote:                           #7fce2c;
@social-facebook:                           #2f5890;
@social-github:                             #4183c4;
@social-gmail:                              #c92527;
@social-gplus:                              #cf4b33;
@social-linkedin:                           #4897c9;
@social-pinterest:                          #c92527;
@social-reddit:                             #cee3f8;
@social-tumblr:                             #2f5070;
@social-twitter:                            #00bdef;

//------------------------------------//
//  $BASE
//------------------------------------//

// Base font
@base-font-size:                            16;
@base-font-family:                          "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-font-color:                           @gray-dark;

// Base line height
@base-line-height-ratio:                    1.722; 
@base-line-height:                          floor(@base-font-size * @base-line-height-ratio);

// Base Heading Values
@giga:                                      110;
@mega:                                      87;
@kilo:                                      68; 
            
@h1-size:                                   54; 
@h2-size:                                   42; 
@h3-size:                                   36; 
@h4-size:                                   24; 
@h5-size:                                   21; 
@h6-size:                                   18; 
                    
@milli:                                     12; 
@micro:                                     10; 
                    
@alpha:                                     @h1-size;
@beta:                                      @h2-size;
@gamma:                                     @h3-size;
@delta:                                     @h4-size;
@epsilon:                                   @h5-size;
@zeta:                                      @h6-size;
    
@base-heading-family:                       @base-font-family;
@base-heading-weight:                       700;
@base-heading-color:                        @black;

// Base DT
@base-dt-color:                             @black;

// Base spacing units
@base-spacing-unit:                         @delta; // 24

// Base Rem value
@base-rem-multiplier:                       @base-font-size;

// How big would you like round corners to be by default?
@base-radius:                               4;
@base-radius-medium:                        5;
@base-radius-large:                         6;

// Base colour for objects’ borders etc.
@base-ui-color:                             mix(@gray-darker, white, 16.5%);

// Base colour for links & branding
@base-link-color:                           #21b5e4;
@base-link-hover-color:                     darken(@base-link-color, 15%);

// Base Form
@base-form-color:                           @gray-light;
@base-form-border-color:                    @gray-light;
@base-form-border-radius:                   @base-radius;
@base-form-output-color:                    @gray-light;
@base-form-placeholder-color:               @gray-light;
@base-form-disabled-color:                  @gray-light;
@base-form-border-focus:                    #66afe9;

// Base Tables
@base-table-border-size:                    2;
@base-table-border-color:                   @base-ui-color;

// Base Strong
@base-strong-color:                         @black;

// Base Blockquote
@base-quote-border-size:                    3;
@base-quote-border-color:                   @white-dark;
@base-quote-small-color:                    @base-ui-color;

//------------------------------------//
//  $UNITS
//------------------------------------//

//Large units
@sextuple-spacing-unit:                     (@base-spacing-unit * 6);       // 120
@quintuple-spacing-unit:                    (@base-spacing-unit * 5);       // 100 
@quadruple-spacing-unit:                    (@base-spacing-unit * 4);       // 80 
@triple-spacing-unit:                       (@base-spacing-unit * 3);       // 60 
@double-spacing-unit:                       (@base-spacing-unit * 2);       // 40

// Small units
@half-spacing-unit:                         (@base-spacing-unit / 2);       // 10
@quarter-spacing-unit:                      (@base-spacing-unit / 4);       // 5
@eighth-spacing-unit:                       ceil(@base-spacing-unit / 8);   // 3   

//------------------------------------//
//  $CORE & ATOMS
//------------------------------------//

// Code
@code-font-family:                          Monaco, Menlo, Consolas, "Courier New", monospace;
@code-border-radius:                        @base-radius;
@code-color:                                #c7254e;
@code-bg:                                   #f9f2f4;
    
// Pre
@pre-bg:                                    #f5f5f5;
@pre-color:                                 @black;
@pre-border-radius:                         @base-radius;
@pre-border-size:                           2;
@pre-border-color:                          @base-ui-color;
    
@pre-prettyprint-color:                     @white;
@pre-prettyprint-bg:                        @black;
@pre-prettyprint-border-size:               1;
@pre-prettyprint-border-color:              darken(@white, 15%);
@pre-prettyprint-border-radius:             @base-radius-medium;
    
// Table
@table-heading-bg:                          @white-dark;
@table-heading-color:                       @black;
@table-hover-bg:                            lighten(@base-link-color, 46.5%);
@table-accent-bg:                           #f9f9f9;
@table-border-color:                        @white-darkest;
@table-border-size:                         2;
    
// Form
@form-color:                                @base-ui-color;
@form-bg:                                   @white;
@form-border-color:                         @base-ui-color;
@form-border-size:                          2;
@form-disabled-color:                       @gray-light;
@form-border-focus:                         #66afe9;
    
// Image
@img-bg:                                    @white;
@img-border-color:                          @white-darkest;
@img-border-size:                           1;
@img-border-radius:                         @base-radius;

//------------------------------------//
//  $MODULES
//------------------------------------//

// Brand
@brand-color:                               @black;
@brand-font:                                "Hobo Std";
@brand-logo-font:                           'sugar';
@brand-logo-size:                           @gamma + 2;
@brand-logo-color:                          @white;
@brand-logo-bg:                             @gray;
@brand-logo-radius:                         50%;
@brand-logo-border-size:                    3;
@brand-logo-border-color:                   @gray-dark;

// Buttons
@button-default-bg:                         @base-link-color;
@button-default-color:                      @white;
@button-default-border:                     0;
@button-default-border-radius:              @base-radius-medium;

@button-clear-border:                       2px solid @base-link-color;

// Icons
@icon-font:                                 'font-awsome';
@icon-normal:                               16;
@icon-medium:                               18;
@icon-large:                                32;

// Navb
@nav-link-spacing:                          @base-spacing-unit;
@nav-link-hover-bg:                         @white;
@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;


//------------------------------------//
//  $COMPONENTS
//------------------------------------//

// Media -- since media is a reserved word we substitute item in its place
@item-grid-bg:                              @white;

@item-heading-color:                        @red;
@item-heading-size-small:                   @zeta;
@item-heading-size-medium:                  @epsilon;
@item-heading-size-large:                   @epsilon;
@item-heading-spacing:                      @quarter-spacing-unit;

@item-text-color:                           @bluegray;

@item-object-size:                          50;

// Navbar
@navbar-height:                             50;
@navbar-border-radius:                      @base-radius;

@navbar-default-color:                      @gray-darker;
@navbar-default-bg:                         @white-dark;
@navbar-default-border:                     darken(@navbar-default-bg, 6.5%);

@navbar-default-link-color:                 @bluegray;
@navbar-default-link-hover-color:           @base-link-color;
@navbar-default-link-hover-bg:              transparent;
@navbar-default-link-active-color:          @navbar-default-link-hover-color;
@navbar-default-link-active-bg:             @navbar-default-link-hover-bg;
@navbar-default-link-disabled-color:        @bluegray-dark;
@navbar-default-link-disabled-bg:           transparent;

@navbar-default-brand-color:                @darkblue-dark; // mix(@base-link-color, @black, 20%);
@navbar-default-brand-hover-color:          @base-link-color;
@navbar-default-brand-hover-bg:             transparent;

@navbar-default-toggle-hover-bg:            @white-darkest;
@navbar-default-toggle-icon-bar-bg:         @gray-lighter;
@navbar-default-toggle-border-color:        @white-darkest;

// Footbar
@footbar-bg:                                @silver;
@footbar-color:                             @silver-dark;
@footbar-link-color:                        @bluegray;
@footbar-link-hover-color:                  @base-link-color;


//------------------------------------//
//  $BREAKPOINTS
//------------------------------------//

// Different breakpoints for the project.
@screen-s-min:                                 480px;   // Small screen / phone
@screen-m-min:                                 768px;   // Medium screen / tablet
@screen-l-min:                                 992px;   // Large screen / desktop
@screen-w-min:                                 1200px;  // Wide screen / wide desktop

// So media queries don't overlap when required, provide a maximum
@screen-s-max:                                 (@screen-m-min - 1);
@screen-m-max:                                 (@screen-l-min - 1);
@screen-l-max:                                 (@screen-w-min - 1);


//------------------------------------//
//  $GRIDS
//------------------------------------//

// Number of columns in the grid system
@grid-columns:                                 12;
// Padding, to be divided by two and applied to the left and right of all columns

// Different Grid sizes for the project.
@container-s:                                   100%;                                   // Small screen / Phone
@container-m:                                   unit((720 + @grid-gutter-width), px);   // Medium screen / tablet
@container-l:                                   unit((940 + @grid-gutter-width), px);   // Large screen / desktop
@container-w:                                   unit((1140 + @grid-gutter-width), px);  // Wide screen / wide desktop

